a.to-top-button {
	display:none;
	width: 60px;
	height: 60px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	color: #fff;
	padding-top: 2px;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	background-color: rgb(97, 110, 131);
	-webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.6);
}

a.to-top-button:hover {
	background-color: rgb(118, 133, 158);
}

a.to-top-button .arrow-img{
	vertical-align: top;
	margin: 4px 8px 8px 8px;
}

@media (max-width: 768px) {
	a.to-top-button {
		display: none !important;
	}
}